<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Target" value="http://localhost:8080/"/>
    <add key="ApiKey" value="b56i96opec68mts9ob05pdpigg"/>
    <add key="Proxy" value="localhost"/>
    <add key="ProxyPort" value="8081"/>
    <add key="ReportPath" value="c:\temp\zap\"/>
  </appSettings>
</configuration>